pip
setuptools
Flask
Flask-Argon2
Flask_Login
Flask_MySQLdb
mysqlclient
mysql-client
Flask_WTF
Jinja2
MarkupSafe
WTForms
Werkzeug
argon2-cffi
argon2-cffi-bindings
argon2pure
certifi
cffi
charset-normalizer
click
colorama
idna
itsdangerous
pyargon2
pycparser
pyserial
requests
six
sms
urllib3
pyOpenSSL